.widget-container {
  border: 0px;
  background-color: transparent;
  // pointer-events: none;
  z-index: 2147483639;
  position: fixed;
  bottom: 0px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  opacity: 1;
  max-width: 100%;
  right: 0px;
  max-height: 100%;

  &.open {
    width: 410px;
    height: 700px;
  }

  @media only screen and (max-width: 760px) {
    /* For mobile phones: */
    &.open {
      width: 100%;
      height: 100%;
    }
  }

  .single-question-options {
    .md-selection-control-container {
      .md-selection-control-label {
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
      }
      .md-btn--icon {
        height: 30px;
        width: 30px;
        padding: 3px;
        .md-icon {
          font-size: 20px;
        }
      }
    }
  }

  .MuiFormControl-root {
    width: 95%
  }
  .MuiInput-underline:before {
    border-bottom: none !important;
  }
  .MuiInputBase-input {
    text-align: center;
  }
  
}

.typing {
  input.error-field {
    color: red !important;
    font-weight: bold;
  }
  input.valid-field {
    color: green !important;
    font-weight: bold;
  }
  .suggestion-list {
    position: absolute;
    bottom: 49px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #FFFF;
    width: 90%;
    left: 17px;
    max-height: 300px;
    overflow: auto;
    background: #FFF;

    .suggestion-item {
      margin: 0 10px;
      padding: 10px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      overflow: auto;
      color: #000;
      word-break: break-word;
      max-width: 100%
    }
  }

  .rrs {
    width: 100%;
    .rrs__label {
      justify-content: center;
    }
  }

  .PhoneInput {
    width: 100%;

    &.error-field {
      input {
        color: red;
        font-weight: bold;
      }
    }
    &.valid-phone {
      input {
        color: green;
        font-weight: bold;
      }
    }
  }

  .MuiInputBase-root {
    flex-direction: row-reverse;
  }
}

.MuiDialog-root {
  z-index: 2147483639 !important;
  .MuiPickersToolbar-toolbar, .MuiPickersDay-daySelected {
    background-color: var(--primary-color) !important;
  }
  .MuiButton-textPrimary {
    color: var(--primary-color) !important;
  }

  .MuiPickersCalendarHeader-switchHeader {
    max-width: 210px;
  }
}
