.loader-logo-wrapper {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 30%;
  display: inline-block;
  text-align: center;
  min-height: 215px;
  vertical-align: top;
  margin: 1%;
  border-radius: 5px;

  .inner-wrapper {
    position: relative;
    .logo-container {
      height: 70px;
      width: 70px;
      top: 13%;
      position: absolute;
      left: 13%;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    @media only screen and (max-width: 600px) {
      .loader-logo-wrapper {
        min-width: 350px;
      }
    }
        
    .loader {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 75px;
      display: inline-block;
      vertical-align: middle;
    }

    .loader-1 .loader-outter {
      position: absolute;
      border: 4px solid #f50057;
      border-left-color: transparent;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
      animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    .loader-1 .loader-inner {
      position: absolute;
      border: 4px solid #f50057;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      left: calc(28% - 20px);
      top: calc(28% - 20px);
      border-right: 0;
      border-top-color: transparent;
      -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
      animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    @-webkit-keyframes loader-1-outter {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes loader-1-outter {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes loader-1-inner {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }

    @keyframes loader-1-inner {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }
  }
}

