@import './theme.scss';

html, body, div#root {
  // width: min-content;
  font-size: 16px;
  height: 100%;
  // position: fixed;
  // width: 100%
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none
}

:root {
  --border-color: rgba(255, 255, 255, 0.3);
  --text-color: rgba(255, 255, 255, 0.3);
  --primary-color: #009688;
  --secondary-color: #80cbc4;
}

.md-menu--select-field {
  border: 1px solid var(--border-color);
}

.page-content-container {
  min-height: 100vh;
  min-width: 100vw
}

.fullHeight-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}