.navigation-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;

  .header-brand {
    height: 100%;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    width: 30%;
    
    img {
      height: 100%;
      object-fit: contain;
      border-radius: 32px;
    }

    .brand-name {
      font-size: 27px;
    }
  }

  .navigation-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;

    .nav-item {
      cursor: pointer;
      padding: 0 14px;
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;

      &:hover {
        background: rgba(255,255,255,0.2);
      }

      &.active {
        color: var(--secondary-color);
        font-weight: 800;
      }
    }
  }

  #mobile-nav {
    display: none;
  }
  &.mobile {
    .header-brand {
      height: 85%;
      padding: 6px;
    }
    .navigation-items {
      display: none;
    }
    #mobile-nav {
      display: block;
    }
  }
}

#UserProfile-toggle {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;

  .md-icon {
    font-size: 45px;
  }
}
.header-user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #UserProfile {
    width: max-content;
  }
  .user-name {
    font-size: 14px;
    white-space: nowrap;
  }
}