.swipeable-wrapper {
  margin: 20px;
  background: #FFFF;
  box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;

  .close-btn {
    position: absolute;
    right: 0;
    z-index: 30;
  }

	.swipeable-page {
    min-height: 300px;
    min-width: 100%;
    padding: 20px;

    .button {
      text-transform: capitalize;
      border-radius: 20px;
      margin: 3px 5px;
      height: auto;

      &.selected {
        background: #00B0FF;
      }
    }
  }

  .react-multiple-carousel__arrow {
    background: var(--secondary-color);
  }
}