.grid-container {
  background: rgb(178, 223, 219);
  width: 100%;
  // top: 51px;
  height: auto;
  min-height: 100%;
  // position: fixed;
}

.page-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .hero-content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .hero-main {
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 628px;
      margin: 0 auto;
      text-align: center;
      font-size: 1.125rem;

      .hero-main-text {
        font-size: 26px;
        line-height: 1.53;
      }
    }

    .get-started {
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 50px;
        text-transform: capitalize;
        font-size: 20px;
      }
    }

    .hero-items {
      // display: flex;
      // flex-direction: row;

      .hero-item {
        .hero-icon {
          min-height: 100px;
          max-height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            min-height: 70px;
          }
        }

        .hero-text {
          text-align: center;
          line-height: 27px;
        }
      }
    }
  }
}

