@import '~react-md/src/scss/react-md';
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");


$md-primary-color: #86c232;
// $md-primary-color: #116466;
// $md-primary-color: #45A29E;
// $md-primary-color: $md-teal-500;
// $md-secondary-color: $md-lime-a-400;
$md-secondary-color: #00796b;
// $md-dark-theme-text-color: #86c232;
$md-font-family: 'Questrial', sans-serif;
$md-slider-warn-md: false;

$text-color: #ebebeb;
@include react-md-everything;

:root {
  --primary-color: $md-primary-color;
}

