.symptom-model {
    height: auto
}

.model-female-front,
.model-female-back,
.model-male-front,
.model-male-back {
    width: auto;
    height: auto
}

.body-area {
    opacity: 0.2
}

.body-area.popover-open {
    opacity: 0.5
}

.dropdown-menu,
.modal.mobile-body-panel .evidence-search-widget .dropdown-menu {
    margin-bottom: 15px
}

.dropdown-menu li a,
.modal.mobile-body-panel .evidence-search-widget .dropdown-menu li a {
    padding-top: 8px;
    padding-bottom: 8px
}

.modal.mobile-body-panel .search-widget>.has-evidence .evidence-list {
    display: block
}

.symptom-model {
    overflow: hidden;
    height: 320px
}

.model-controls {
    margin-top: 16px;
    cursor: pointer;
    color: #005cb7;
    user-select: none;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease
}

.model-controls:hover {
    color: #105ea7
}

.model-controls:hover .model-rotate-icon {
    width: 25px;
    height: 22px;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2025%2022%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%220px%22%20fill%3D%22%23105ea7%22%20stroke%3D%22%23105ea7%22%3E%0A%20%20%3Cpath%20d%3D%22M10.555%2012.969C5.717%2012.759%202%2011.509%202%2010c0-1.657%204.477-3%2010-3s10%201.343%2010%203c0%201.23-2.468%202.287-6%202.75v1.965c4.66-.686%208-2.538%208-4.715%200-2.761-5.373-5-12-5S0%207.239%200%2010c0%202.567%204.642%204.682%2010.619%204.967l-1.326%201.326%201.414%201.414L14.414%2014l-3.707-3.707-1.414%201.414%201.262%201.262z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    border-radius: 0
}

.model-controls .model-rotate-icon {
    width: 25px;
    height: 22px;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2025%2022%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%220px%22%20fill%3D%22%23005cb7%22%20stroke%3D%22%23005cb7%22%3E%0A%20%20%3Cpath%20d%3D%22M10.555%2012.969C5.717%2012.759%202%2011.509%202%2010c0-1.657%204.477-3%2010-3s10%201.343%2010%203c0%201.23-2.468%202.287-6%202.75v1.965c4.66-.686%208-2.538%208-4.715%200-2.761-5.373-5-12-5S0%207.239%200%2010c0%202.567%204.642%204.682%2010.619%204.967l-1.326%201.326%201.414%201.414L14.414%2014l-3.707-3.707-1.414%201.414%201.262%201.262z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    border-radius: 0;
    vertical-align: top;
    display: inline-block;
    margin-right: 8px
}

.body-area {
    cursor: pointer;
    opacity: 0
}

.body-area:hover,
.body-area.highlighted:hover {
    opacity: 0.5
}

.body-area.highlighted {
    opacity: 0.2
}

.body-area.popover-open {
    opacity: 0.5
}

.model-female-front,
.model-female-back,
.model-male-front,
.model-male-back {
    color: #005cb7;
    fill: var(--secondary-color);
    display: inline-block;
    vertical-align: top;
    width: 168px;
    height: 320px
}
