.datatable-wrapper {
  // width: auto;
  width: 100%;
  overflow: auto;
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  max-height: 78vh;

  thead tr th {
    position: sticky;
    top: 0;
    background: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

  tbody.MuiTableBody-root {
    max-height: 50%;
  }

  & > div > div:first-child {
    border-bottom: 1px solid var(--border-color);
  }

  td.MuiTableCell-root {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    // color: var(--text-color) !important;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }
  .table-select-filter {
    .MuiFormControlLabel-label {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      white-space: break-spaces;
      max-width: 300px;
    }
  }

  .action-menuitem {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
    .MuiPaper-root {
      background: #FFF;

      .MuiMenuItem-root {
        font-size: 14px;
      }
    }
  }

  .MuiPaper-root {
    width: 100%;
    background: rgba(0,0,0,0.001);
    // background: #FFF;
    box-shadow: unset;
    .Component-horizontalScrollContainer-33 {
      width: auto;
      overflow: unset !important;

      & > div {
        width: 100%;
        & > div {
          overflow: unset !important;
          width: auto;
        }
      }
    }

    & > .MuiTable-root {
      position: sticky;
      bottom: 0;
      background: #FFF;
      width: 100%;

      .MuiTableFooter-root {
        display: flex !important;
      }
      span {
        // color: var(--text-color);
      }
    }
  }

  
}
